<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの公開 / パッケージ処理で使用されます。この MSBuild ファイルを編集すると、
この処理の動作をカスタマイズできます。詳細については、https://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/7fdda887-a919-4bea-a7a7-2ab2b3dcea07/resourcegroups/u22-2024/providers/Microsoft.Web/sites/u22-2024</ResourceId>
    <ResourceGroup>u22-2024</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://u22-2024.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c2d06598-9a08-4a16-861e-d6a2cefe01d9</ProjectGuid>
    <PublishUrl>https://u22-2024.scm.azurewebsites.net/</PublishUrl>
    <UserName>$u22-2024</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>